<div>
<h1>Search address or place</h1>
<input type="text" name="filterSearchField"><button>Help</button><br>
    
<h1>Filter</h1>
    
<form ng-controller="FilterController">
	<li>
		<input type="checkbox" ng-model="allCheckBoxSelected" ng-change="allCheckBoxChanged()">All<br>
    </li>
    
     <li ng-repeat="checkBox in filterCheckBoxes | orderBy : 'label'">
     		<input type="checkbox" ng-model="checkBox.isSelected" ng-change="checkBoxChanged()">{{checkBox.label}}<br>
     </li>   
    
    <li>
		<input type="checkbox" ng-model="allSpecialitySelected" ng-change="allSpecialityChanged()">Speciality Products
		<!-- If check to see if there ARE any specialties??? -->
	    <button class="linkButton" ng-model="shouldShowSpecialityProducts" aria-label="Toggle ngHide" ng-click="shouldShowSpecialityProducts = !shouldShowSpecialityProducts">Refine</button><br>
    </li>
    
    <div class="animate-show" ng-show="shouldShowSpecialityProducts">
    	<li ng-repeat="checkBox in specialityCheckBoxes | orderBy : 'label'">
     			<input type="checkbox" ng-model="checkBox.isSelected" ng-change="checkBoxChanged()">{{checkBox.label}}<br>
    	</li>
    </div>
    
			
</form>   
</div> 
 