<div>       
<form ng-controller="FilterController">
	<table width="100%">
	<tr>
		<td valign="top">
		<h5>Products</h5>
		<div ng-repeat="checkBox in filterCheckBoxes | orderBy : 'label'">
     			<input type="checkbox" ng-model="checkBox.isSelected" ng-change="checkBoxChanged()"> {{checkBox.label}}<br>
     	</div>   
    	</td>
    	
    
    	<td valign="top">
    	<h5>Specialty Products</h5>
   		<div ng-repeat="checkBox in specialityCheckBoxes | orderBy : 'label'">
			<input type="checkbox" ng-model="checkBox.isSelected" ng-change="checkBoxChanged()"> {{checkBox.label}}<br>
	    </div>
	    </td>
    </tr>
    </table>		
</form>   
</div> 
 