<app_Header></app_Header>

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?sensor=false">
  </script>
  
<content>
    <script type="text/ng-template" id="searchbox.tpl.html">
    <div class="input-group">
        <input type="text" class="form-control"  placeholder="Search by location" style="width:200px;">
	</div>
    </script>

    <div id="map_canvas" ng-controller="MapController">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
        <ui-gmap-search-box template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>

        <ui-gmap-markers models="farmmarkers" coords="'self'" icon="'icon'" ng-click="'onClick'">
            <ui-gmap-windows show="show">
                <div ng-non-bindable>{{title}}  
                	<p>
			   			{{specialities}}
			    	</p>
                	<a href="{{link}}">
                		Link to details page
                	</a>
                </div>
            </ui-gmap-windows>
        </ui-gmap-markers>    
    </ui-gmap-google-map>
   
   
  	<button ng-model="shouldShowFilter" aria-label="Toggle ngHide" ng-click="shouldShowFilter = !shouldShowFilter">Filter</button><br>
    <div ng-show="shouldShowFilter"> 
  		<filter_View></filter_View> 
  	</div>
  	
	
</content>