<app_Header></app_Header>

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?sensor=false">
  </script>
  
<content>
	<p> To find farm products near you, enter your address in the location box below. To find specific farm products, click the “Find Products” button below. To see the farms listed by name, click the button for “Listings”.</p>
	
    <script type="text/ng-template" id="searchbox.tpl.html">
    <div class="input-group">
        <input type="text" class="form-control"  placeholder="Search by location" style="width:200px;">
	</div>
    </script>

    <div id="map_canvas" ng-controller="MapController" style="padding:0px 10px 0px 10px;">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
        <ui-gmap-search-box template="searchbox.template" events="searchbox.events" options="searchbox.options"></ui-gmap-search-box>	
        <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible' geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>
        <ui-gmap-markers models="farmmarkers" coords="'self'" icon="'icon'" click="onClick">
            <ui-gmap-windows show="show">
                <div ng-non-bindable><b>{{title}}</b>  
                	<br/><p>{{city}}</p>
                	<p>{{products}}</p>
                	<a href="{{link}}"> <!-- target="_blank" -->
                		View contact information
                	</a>
                </div>
            </ui-gmap-windows>
        </ui-gmap-markers>    
    </ui-gmap-google-map>
   
   
  	<button aria-label="Toggle ngHide"  class="btn btn-default btn-sm"  style="margin-top:20px" ng-click="shouldShowFilter = !shouldShowFilter">Find Products</button><br>
    <div ng-show="shouldShowFilter"> 
  		<filter_View></filter_View> 
  	</div>
  	
	
</content>
