<app_Header></app_Header>
<content>
    <div class="row">
    	<div class="col-sm-8">
    		<div class="panel panel-primary">
    			<div class="panel-heading">
    				<h3 class="panel-title">{{farm.farmName}}</h3>
    			</div>
    			<div class="panel-body">
    			   <a ng-href="https://maps.google.com?daddr={{farm.address}}+{{farm.city}}+{{farm.state}}+{{farm.zip}}">
    				{{farm.address}}<br/>
    				{{farm.city}},{{farm.state}},{{farm.zip}}
    				</a><br>
    				<a ng-href="http://{{farm.website}}">{{farm.website}}</a><br>
    				{{farm.phone}}<br>
    				<span ng-repeat="product in farm.specialities">
			       		{{product}},
			       </span>
    				
    			</div>
    		</div>
    	</div>
    </div>
</content>
