<app_Header></app_Header>
<content>
<div class="well">
<h3>ADC Mission<BR></h3>
<BR>
<p>The Chester County Agricultural Development Council&rsquo;s purpose is to help Chester County farmers continue to farm while encouraging additional agricultural opportunities, create an environment to attract new farmers and agricultural activities, educate residents and municipal officials, and partner with others to help resolve problems and issues related to agriculture.</p><BR>
<p>We are proud to support local producers and hope residents gain additional
understanding of where their food comes from and how it is produced. In
addition, the Ag Council wants to introduce you to Robert Lange, the 2014 Farmer
of the Year and owner/operator of Sugartown Strawberries, as well as others
working in the industry. These individuals, while not farmers per se, have found
Chester County agriculture to be a thriving business and viable career option</p><br>
<a href="#">Link one</a><br>
<a href="#">Link two</a>
</div>
</content>