<app_Header></app_Header>
<content>
<div class="well">
	<p>
	This Chester County Local Farm Products website is acollaboration between the  
	<a href="http://chesco.org/141/Agricultural-Development-Council">Chester County Ag Council</a> 
	and the <a href="http://chestercountyfoodbank.org">Chester County Food Bank</a> to highlight the wide variety of farm products available for sale from 
	our area farmers and producers. Some of these farmers also generously assist the Food Bank with their efforts 
	to feed residents in need throughout the county. Click <a href="http://chestercountyfoodbank.org/programs/farming/">here</a> to find out more about these farm partnerships.
	</p>
	
	<p>
	The Chester County Ag Council promotes agriculture in Chester County by raising awareness on issues regarding 
	the viability of local agriculture and promoting agricultural excellence and farming. To get to know us better, 
	visit us at <a href="www.chesco.org/agdev">www.chesco.org/agdev</a>, 
	<a href="https://www.facebook.com/CCAgCouncil/?ref=hl">Facebook</a> and 
	<a href="https://www.instagram.com/chestercountyagcouncil/">Instagram</a>.
	</p>
	
	<p>
	If you would like your farm business to be included on this website or need to update your listing, please contact 
	Ann Lane at 610-344-6285.
	</p>
</div>
</content>