<app_Header></app_Header>
<content>

  	<input type="radio" name="seg-1" id="seg-alpha" ng-click="valueChanged('Alpha')" checked>
 	<label for="seg-alpha"> Sort by name</label>
 	<input type="radio" name="seg-1" id="seg-distance" ng-click="valueChanged('Distance')">
 	<label for="seg-distance"> Sort by distance</label>
	
	<div id="searchBoxDiv" ng-show="shouldShowDistanceSearchbar">	
		 <input id="sortByDistanceField" placeholder="Please enter an address" type="text" style="width:300px;"></input> 		
	</div>
    
    
    <br><button ng-model="shouldShowFilter" aria-label="Toggle ngHide" ng-click="shouldShowFilter = !shouldShowFilter">Filter</button><br>
    
    <div ng-show="shouldShowFilter"> 
    	<filter_View></filter_View> 
	</div>
      	
    <div class="list-group">
    	<div ng-repeat="farm in filteredLocations | orderBy: sortOrder">
	  	<a ng-click="viewDetail(farm.id)" class="list-group-item" >
		    <h4 class="list-group-item-heading">{{farm.farmName}} - {{farm.city}}</h4>
			    <p class="list-group-item-text">
			   		<span ng-repeat="product in farm.specialities">
			       		{{product}}{{$last ? '' : ', '}}
			       </span>
			    </p>  
	     </a>
	     </div>
     </div>
	

      
  
</content>
