<app_Header></app_Header>
<content>

	<div class="btn-group" data-toggle="buttons">
		<label class="btn btn-default btn-sm active" ng-click="valueChanged('Alpha')">
    		<input type="radio" name="options" id="option1" checked> Sort by name
  		</label>
  		<label class="btn btn-default btn-sm" ng-click="valueChanged('Distance')">
    		<input type="radio" name="options" id="option2" > Sort by distance
  		</label>
  		
	</div>
	
	<div id="searchBoxDiv" ng-show="shouldShowDistanceSearchbar">	
		 <input id="sortByDistanceField" placeholder="Please enter an address" type="text" style="width:300px;"></input>
		 <button class="btn btn-default btn-sm" ng-click="getCurrentLocation()">Use my current location</button> 		
	</div>
    
    
    <br><button ng-model="shouldShowFilter" class="btn btn-default btn-sm" aria-label="Toggle ngHide"  style="margin-top:20px" ng-click="shouldShowFilter = !shouldShowFilter">Filter</button><br>
    
    <div ng-show="shouldShowFilter"> 
    	<filter_View></filter_View> 
	</div>
      	
    <div class="list-group" style="margin-top:20px">
    	<div ng-repeat="farm in filteredLocations | orderBy: sortOrder">
	  	<a ng-click="viewDetail(farm.id)" class="list-group-item" >
		    <h4 class="list-group-item-heading">{{farm.farmName}} - {{farm.city}}</h4>
			    <p class="list-group-item-text">
			   		<span ng-repeat="product in farm.specialities">
			       		{{product}}{{$last ? '' : ', '}}
			       	<div ng-show="sortOrder == 'sortDistance'" style="float:right">
			       		{{farm.sortDistance | number:1}} Miles
			       	</div>
			       </span>
			       
			    </p>  
	     </a>
	     </div>
     </div>
	

      
  
</content>
